---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
let prev_year = 0;
let years: number[] = [];
let sorted_posts = posts.map((post) => {
	const year = new Date(post.data.pubDate).getFullYear();
	let isAnotherYear = year !== prev_year;
	if (isAnotherYear) {
		prev_year = year;
		years.push(year);
	}
	return {
		...post,
		isAnotherYear,
	};
});
---

<Layout title="Archive">
  <div class="my-12 mx-auto max-w-xl">
    <ul>
      {
        sorted_posts.map((post) => (
          <>
            {post.isAnotherYear && (
              <h3 class="bg-surface text-2xl font-semibold mb-1 mt-4">{post.data.pubDate.getFullYear()}</h3>
            )}
            <li class="bg-surface my-1 list-outside list-disc">
              <div class="flex justify-between">
                <a class="underline" href={`/blog/${post.slug}/`}>{post.data.title}</a>
                <span>
                  <FormattedDate date={post.data.pubDate} lang="zh" />
                </span>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</Layout>
