---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
let prev_year = 0;
let years: number[] = [];
let sorted_posts = posts.map((post) => {
  const year = new Date(post.data.pubDate).getFullYear();
  let isAnotherYear = year !== prev_year;
  if (isAnotherYear) {
    prev_year = year;
    years.push(year);
  }
  return {
    ...post,
    isAnotherYear,
  };
});
---

<Layout title="Archive">
  <div class="container radius-40 bg-w">
    <ul>
      {
        sorted_posts.map((post) => (
          <>
            {post.isAnotherYear && <h2>{post.data.pubDate.getFullYear()}</h2>}
            <li>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  .container {
    max-width: 800px;
  }
</style>
