h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}

strong,
b {
	font-weight: 700;
}

p {
	margin-bottom: 1em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	/* padding: 2px 5px; */
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.2em;
	border-radius: 8px;
}

pre>code {
	all: unset;
	font-size: 0.8em;
	font-family: Source Code Pro, monospace;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	/* font-size: 1.333em; */
}

hr {
	
	border-top: 1px solid rgb(var(--gray-light));
}

main {
	max-width: 100%;
	padding: 0 8px;
}

.hero-image {
	width: 100%;
}

.hero-image img {
	display: block;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: var(--box-shadow);
}

article {
	box-sizing: border-box;
	max-width: 960px;
	margin: auto;
	padding: 4.5rem 4.5rem 2.5rem 4.5rem;
	background-color: white;
	border-radius: var(--border-radius);
}

.title {
	margin-bottom: 2em;
	padding: 1em 0;
	text-align: center;
	line-height: 1;
}

.title h1 {
	margin: 0 0 0.5em 0;
}

.date {
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
}

.last-updated-on {
	font-style: italic;
}

.tags svg {
	width: 1.3rem;
	height: 1.3rem;
	vertical-align: middle;
}

@media (max-width: 800px) {
	article {
		padding: 1.5rem;
	}
}