.friends {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
    grid-gap: 0.5rem;
}

.friend-card {
    padding: 1.5rem;
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.friend-card img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    margin: 0 auto;
}

.friend-card:hover {
    background-color: var(--color-secondary-container);
}

.name {
    font-weight: bold;
    font-size: 1.8rem;
}