/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
	font-family: "Noto Sans SC", "Noto Sans SC", "Noto Sans CJK SC", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--color-background);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
	text-rendering: optimizeSpeed;
}

.container {
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-gap: .5rem;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 .5rem;
}

.sidebar {
	order: 1;
	max-width: 320px;
}

.main {
	order: 2;

}

@media (max-width: 1000px) {

	.container {
		grid-template-columns: 1fr;
	}

	.sidebar {
		order: 2;
		max-width: 100%;
	}

	.main {
		order: 1;
	}
}

.post-list ul {
	list-style: none;
	margin: 0;
	padding: 0rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 8px;
	gap: 16px;
}

.pagination {
	padding: 4px 0;
	display: flex;
}

.prev {
	margin-right: auto;
}

.next {
	margin-left: auto;
}

nav a,
.pagination a {
	text-decoration: none;
	padding: .3rem 16px;
	color: black;
	border-radius: 40px;
	transition: background-color 0.3s;
}

.header-link:hover,
.header-link.active {
	background-color: var(--color-secondary-container);
}

.sidebar-card {
	background-color: white;
	padding: 1.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
}

.prose,
.post-summary,
.post-summary img,
.friend-card,
.sidebar-card,
.main {
	border-radius: 40px;
}

h1 {
	font-size: 2.0rem;
}

h2 {
	font-size: 1.741rem;
}

h3 {
	font-size: 1.516rem;
}

h4 {
	font-size: 1.320rem;
}

h5 {
	font-size: 1.149rem;
}

h6 {
	font-size: 1.0rem;
}