body {
    font-family: "Noto Sans", "Noto Sans SC", sans-serif;
    text-autospace: normal;
}

@view-transition {
    navigation: auto;
}

.tag {
    @apply hover:bg-primary hover:text-on-primary transition-colors;
}
