.date {
    font-size: 0.7em;
    color: #222;
    text-align: right;
}

.post-summary {
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
}

.post-summary a.has-image {
    display: grid;
    grid-template-columns: 1fr 280px;
}

.post-summary img {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 160px;
    margin: 0;
    object-fit: cover;
}

.info {
    vertical-align: top;
    box-sizing: border-box;
    padding: 0.7rem 1.5rem;
    position: relative;
}

@media screen and (max-width: 800px) {
    .post-summary img {
        display: none;
    }

    .post-summary a.has-image {
        grid-template-columns: 1fr;
    }
}

.post-summary h1 {
    font-size: 1.6rem;
    margin: 0;
}

.post-summary p {
    font-size: 1rem;
    margin: 0;
}

.post-summary a {
    color: black;
    text-decoration: none;
}

.post-summary:hover {
    background-color: var(--color-secondary-container);
}

.ddg {
    display: grid;
    grid-template-columns: 1fr 36px;
    gap: 8px;
    padding: 10px;
}

.search input {
    width: 100%;
    border-style: none;
    padding: 0.5rem;
}

.search-button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #aaa;
}

.search-button:hover {
    cursor: pointer;
    color: #555;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.card h1 {
    font-size: 1.3rem;
    margin: 0 0 1rem;
}

.count {
    display: none;
}

.profile-card img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.275, 0.82, 0.265, 1);
}

.profile-card img:hover {
    transform: rotate(360deg);
}

.social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    justify-content: center;
    margin-top: 1rem;
}

.name {
    font-size: 1.8rem;
    font-weight: bold;
}

.slogan {
    font-size: 0.85em;
}

.social-link {
    width: 96px;
    font-size: 0.9rem;
    height: 24px;
    font-family: Liberation Sans, sans-serif;
    color: black;
    text-decoration: none;
    padding: 0.3rem;
    margin: 5px auto;
    transition: background-color 0.3s;
}

.social-link:hover {
    background-color: #eee;
}

.social-link svg {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.social-link svg,
.platform {
    vertical-align: middle;
}