---
import { SITE } from "../consts";
import Home from "@/layouts/Home.astro";
import { posts } from "@/scripts/collection-workaround";
import PostList from "@/components/PostList.astro";
import HeaderLink from "@/components/Header/HeaderLink.astro";
const fposts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, SITE.postPerPage);
const has_next = posts.length > SITE.postPerPage;
---

<Home title={SITE.title} description={SITE.description}>
  <PostList posts={fposts} />
  <div class="pagination">
    <div class="next">
      {has_next ? <HeaderLink href="/page/2">更多</HeaderLink> : null}
    </div>
  </div>
</Home>
