---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <HeaderLink class="nav" href="/">主页</HeaderLink>
  <!-- <HeaderLink href="/blog">Archive</HeaderLink> -->
  <HeaderLink class="nav" href="/friends">友链</HeaderLink>
  <HeaderLink class="nav" href="/atom.xml">订阅</HeaderLink>
  <HeaderLink class="nav" href="/about">关于</HeaderLink>
</nav>
