---
interface Props {
  tags?: string[];
}
const { tags } = Astro.props;
---

{
  tags && (
    <div class="tags">
      {tags.map((tag) => (
        <a class="tag" href={`/tags/${tag}`}>
          #{tag}
        </a>
      ))}
    </div>
  )
}
