---
import { SITE } from "../consts";
const today = new Date();
import Icon from "astro-icon";
---

<footer class="gap-2 my-8 flex justify-center items-center">
  Copyright &copy; {today.getFullYear()}
  <span>{SITE.author}</span>|
  <a href="/atom.xml">RSS</a>
</footer>
