---
const { name, url, avatar, desc } = Astro.props;
---

<a class="friend-card bg-w radius-24" href={url}>
  <img src={avatar} alt="avatar" />
  <div class="friend-content">
    <div class="name">{name}</div>
    <div class="description">{desc}</div>
  </div>
</a>
