---
import { getTagsInfo } from "@/scripts/tags";
import HyperlinkSmall from "./Hyperlink/HyperlinkSmall.astro";
const tags = Array.from(getTagsInfo())
  .sort((a, b) => b[1] - a[1]);

---

<h1>标签</h1>
<div class="tags">
  {
    tags.map(([tag , count]) => (
      <HyperlinkSmall href={`/tags/${tag}`}>{tag}</HyperlinkSmall><span class="count">{count}</span>
    ))
  }
</div>
<style>
  h1 {
    font-size: 1.3rem;
    margin: 0 0 1rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .count {
    display: none;
  }
</style>
