---
import { getTagsInfo } from "@/scripts/tags";
const tags = Array.from(getTagsInfo()).sort((a, b) => b[1] - a[1]);
---

<div class="tags">
  {
    tags.map(([tag, count]) => (
      <>
        <a class="tag" href={`/tags/${tag}`}>
          {tag}
        </a>
        <span class="count">{count}</span>
      </>
    ))
  }
</div>