---
import Profile from "./Profile.astro";
import TagsCard from "./TagsCard.astro";
import Search from "./Search.astro";
---

<div class="w-full md:max-w-2xs flex flex-col gap-2">
  <Profile />
  <TagsCard />
  <Search />
</div>
