---
import { SITE } from "@/consts";
import Icon from "astro-icon";
import Profile from "./Profile.astro";
import TagsCard from "./TagsCard.astro";
import Search from "./Search.astro";
---

<div class="w-full md:max-w-xs flex flex-col gap-2">
  <Profile />
  <TagsCard />
  <Search />
</div>
