---
import { SITE } from "@/consts";
import Icon from "astro-icon";
import Profile from "./Profile.astro";
import TagsCard from "./TagsCard.astro";
---

<div class="sidebar">
  <Profile />
  <TagsCard />
  <div class="search">
    <form class="ddg" name="x" action="https://duckduckgo.com/" target="_blank">
      <input type="hidden" value={SITE.url} name="sites" />
      <input type="search" placeholder="DuckDuckGo" name="q" />
      <button class="button" type="submit" aria-label="Search">
        <Icon name="ri:search-line" />
      </button>
    </form>
  </div>
</div>