---
import SocialLink from "./SocialLink.astro";
import SidebarCard from "./SidebarCard.astro";

const avatar = "/images/avatar.webp";
import { SITE } from "@/consts";
---

<SidebarCard>
  <div class="profile-card">
    <!-- <img src={avatar} alt="avatar" /> -->
    <image src={avatar} alt="avatar" />
    <div class="name">{SITE.author}</div>
    <div class="slogan">{SITE.slogan}</div>
    <div class="social-links">
      <SocialLink
        href="https://github.com/icealtria"
        icon="ri:github-fill"
        platform="Github"
      />
      <SocialLink
        href="https://mastodon.social/@icealtria"
        icon="ri:mastodon-fill"
        platform="Mastodon"
      />
      <SocialLink
        href="mailto:icealtria@example.com"
        icon="ri:mail-fill"
        platform="Email"
      />
      <SocialLink
        href="https://t.me/telegram"
        icon="ri:telegram-fill"
        platform="Telegram"
      />
    </div>
  </div>
</SidebarCard>