---
import SocialLink from "./SocialLink.astro";

const avatar = "/images/avatar.webp";
import { SITE } from "@/consts";
---

<div class="sidebar-card profile-card">
  <!-- <img src={avatar} alt="avatar" /> -->
  <img
    class="avatar w-28 h-28 rounded-full my-2 mx-auto"
    src={avatar}
    alt="avatar"
  />
  <div class="name text-2xl my-2 font-semibold text-center">{SITE.author}</div>
  <div class="slogan my-2 text-center">{SITE.slogan}</div>
  <div class="social-links grid grid-cols-2 gap-4 mt-8">
    <SocialLink
      href="https://github.com/icealtria"
      icon="ri:github-fill"
      platform="Github"
    />
    <SocialLink
      href="https://mastodon.social/@icealtria"
      icon="ri:mastodon-fill"
      platform="Mastodon"
    />
    <SocialLink
      href="mailto:icealtria@example.com"
      icon="ri:mail-fill"
      platform="Email"
    />
    <SocialLink
      href="https://t.me/telegram"
      icon="ri:telegram-fill"
      platform="Telegram"
    />
  </div>
</div>
