---
interface Props {
  href: string;
  title: string;
  icon: string;
  rel: string;
  platform: string;
}

const { href, icon, rel, platform } = Astro.props;
import { Icon } from "astro-icon";
---

<a
  class="text-center py-1 flex items-center justify-center rounded-full bg-primary-container-light hover:bg-primary-container-hover"
  href={href}
  rel={rel}
  target="_blank"
>
  <Icon class="h-4 w-4" name={icon} />
  <span class="platform">
    {platform}
  </span>
</a>
