---
interface Props {
  href: string;
  title: string;
  icon: string;
  rel: string;
  platform: string;
}

const { href, icon, rel, platform } = Astro.props;
import { Icon } from "astro-icon";
---

<a class="social-link radius-40" href={href} rel={rel} target="_blank">
  <Icon name={icon} />
  <span class="platform">
    {platform}
  </span>
</a>