---
interface Props {
	href: string;
	icon: string;
	platform: string;
}

const { href, icon, platform } = Astro.props;
import { Icon } from "astro-icon";
---

<a
  class="social-link"
  href={href}
  target="_blank"
>
  <Icon class="h-4 w-4" name={icon} />
  <span class="platform">
    {platform}
  </span>
</a>
