---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_DESCRIPTION, COLORS } from "../consts";
const { title } = Astro.props;
const color = COLORS.brown;
const background = color.background;
const primary = color.primary;
const secondary = color.secondary;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={title} />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global define:vars={{color, background, primary, secondary}}>
:root,
:host {
	--md-sys-color-background: var(--background);
	--md-sys-color-primary-container: var(--primary);
	--md-sys-color-secondary-container: var(--secondary);
}
</style>