---
import HomeSideBar from "@/components/SideBar/HomeSideBar.astro";
import BaseLayout from "./TwoCol.astro";
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="order-0 md:order-2 w-full">
    <slot />
  </div>
  <HomeSideBar />
</BaseLayout>
