---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header/Header.astro";
import { COLORS } from "../consts";
const { title, description } = Astro.props;
const color = COLORS.brown;
const background = color.background;
const primary = color.primary;
const secondary = color.secondary;
---

<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <BaseHead title={title} description={description} />
    <style is:global define:vars={{ color, background, primary, secondary }}>
      :root,
      :host {
        --color-background: var(--background);
        --color-primary-container: var(--primary);
        --color-secondary-container: var(--secondary);
        --border-radius: 40px;
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
