---
const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
import Layout from "./Layout.astro";
import FormattedDate from "@components/FormattedDate.astro";
---

<Layout title={title} description={description}>
  <article>
    <div class="title">
      <h1 class="bg-surface">{title}</h1>
    </div>
    <slot />
  </article>
</Layout>
