---
import Layout from "./Layout.astro";
import '@/styles/home.css';
const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="max-w-6xl flex flex-col md:flex-row gap-2 mx-auto">
    <slot />
  </div>
</Layout>
